# 系统生成的文件
__pycache__/
.vscode/
*.pyc
output_*
GEMINI.md
CLAUDE.md
.claude/
.DS_Store
Thumbs.db

# 给大家留下调试空间
temp_*
trash_*
sbatch_*
*.log
*.err
*.out

# 敏感信息
.env
config.js
secrets.json

# 特定文件
/Data/
/FuxiCTR-data/
/LLM4RecPart/logs
/LLM4RecPart/models
/RL-TRL/CTR_models
/RL-TRL/checkpoints